td{
    border: 1px solid black;
    size: 5;
}

.red{
    background-color: rgb(230, 81, 81);
}

.orange{
    background-color: orange;
}

.yellow{
    background-color: yellow;
}

input{
    font-size: 20px;
    border-top: none;
    border-right: none;
    border-left: none;
    size:100%;
    word-break: initial;
}

select{
    font-size: 20px;
}
option{
    font-size: 20px;
}

.thin{
    size: 5;
    width: 5px;
}

.wide{
    size: 12;
}

textarea{
    font-size: 20px;
    width: 90px;
}